.DS_Store
*~
*.gz
*.pyc
__pycache__/
*.log

#visual studo#
*.vs
*.user
*.suo
*.exe
Debug

#Unity#
*.sln
obj
.vscode/
Library/
Temp/
test/
UnityGenerated/

#Android Studio#
*.apk
*.ap_
*.dex
*.iml
*.ipr
*.iws
*.class
.classpath
.project
local.properties
proguard/
captures/
bin/
gen/
out/
.signing/
.navigation/
.idea/
.idea/*
.idea/workspace.xml
.idea/libraries

#Node.js
node_modules
node_modules/*
