.DS_Store
*~
*.gz
*.pyc
__pycache__/
*.log

#visual studo#
*.vs
*.user
*.suo
*.exe
Debug

#Unity#
*.sln
obj
.vscode
Library
Temp
test

#Android Studio#
*.apk
*.ap_
*.dex
*.iml
captures/
bin/
gen/
.navigation/
.idea/
.idea/*
.idea/workspace.xml
.idea/libraries
